
header {
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}
.flex {
    display : flex;
}
.vertical {
    flex-direction: column;
}
.center {
    justify-content: center;
    align-items: center;
}
.welcome {
    text-align: center;
}
#textbox {
    width: 50%;
    min-width: 15rem;
    margin-bottom: 2rem;
}
#player-info {
    display: flex;


}
#carrot-backpack-container {
    height: 8rem;
    width: 12rem;
    border-radius: 1rem;
    border: 0.2rem dotted orange;
    margin: 1rem;
    display: none;
    color: green;
    align-items: center;
    flex-direction: column;

}
#guineapigbridge {
    display: none;
    margin: 2rem;
}
#button-3 {
    display: none;
}
.character-img {
    width: 8rem;
    border-radius: 8rem;
}
button {
    width: 10rem;
    border: 0.1rem solid rgb(48, 86, 189);
    border-radius: 1rem;
    font-weight: bold;
    background-color: lightskyblue;
    margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}

button:hover {
    cursor: pointer;
}
h1:hover {
    cursor: pointer;
}
